
{% extends 'base.html.twig' %}
        {% set TotalPrice = 0 %}
        {% set TotalItems = 0 %}
        {% block body %}
                        <div class="row">
                                <div class="col-md-8 cart">
                                        <div class="title">
                                                <div class="row">
                                                        <div class="col"><h4><b>Checkout</b></h4></div>
                                                        <div class="col align-self-center text-center text-muted">Aantal</div>
                                                        <div class="col align-self-center text-muted">Prijs</div>
                                                </div>
                                        </div>
                                        {% for Item in Order %}
                                        <div class="row border-top border-bottom">
                                                <h5 class="card-title">{{ Item.Pizza.name }} </h5>
                                                <div class="row main align-items-center">
                                                        <div class="col-2"><img class="img-fluid" src="{{ Item.Pizza.image }}"></div>
                                                        <div class="col">
                                                                <div class="row text-muted">{{ Item.size }} </div>
                                                                <div class="row"> €{{ Item.Pizza.Price }} per stuk</div>
                                                        </div>
                                                        <div class="col">
                                                                <a href="#">-</a><a href="#" class="border">{{ Item.amount }}</a><a href="#">+</a>
                                                        </div>
                                                        <div class="col">€ {{ (Item.Pizza.price * Item.amount)|round(2, 'ceil') }}<span class="close">&#10005;</span></div>
                                                        {% set TotalItems = TotalItems + Item.amount %}
                                                        {% set TotalPrice = TotalPrice + (Item.Pizza.price * Item.amount) %}
                                                </div>
                                        </div>
                                        {% endfor %}
                                        <div class="back-to-shop"><a href="/home">&leftarrow;</a><span class="text-muted">Terug naar Menu</span></div>
                                </div>
                                <div class="col-md-4 summary">
                                        <div><h5><b>Summary</b></h5></div>
                                        <hr>
                                        <div class="row">
                                                <div class="col" ><Items></Items> Aantal {{ TotalItems }}</div>
                                                <div class="col text-right">€{{ TotalPrice }}</div>
                                        </div>
                                        <br>
                                        <form>
                                                <div><h5><b>Bezorging</b></h5></div><hr>
                                                <select><option class="text-muted">Standaard Bezorging- &euro;5.00</option></select>
                                                <input id="code" placeholder="Promo Code">
                                        </form>
                                        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                                                <div class="col">Totaal:</div>
                                                <div class="col text-right">€{{ TotalPrice + 5}}</div>
                                        </div>
                                        <button class="btn">CHECKOUT</button>
                                </div>
                        </div>

        {% endblock %}
